export(
"gofm",
"Lma.design",
"make.dataset",
"make.design.matrix",
"mwtp",
"questionnaire",
"rotation.design"
)

import(
DoE.base,
MASS,
simex
)

S3method(print, cedes)
S3method(print, gofm)
S3method(print, mwtp)

